<% @post_comments.each do |comment| %>
  <tr>
    <td><%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.jpg", class: "profile_image_sm" %></td>
    <td>
      <%= link_to comment.user.name, user_path(comment.user) %>
      <%= simple_format comment.comment %>
    </td>
    <td>
      <% if comment.user == current_user %>
        <%= link_to "Delete", post_post_comment_path(post_id: post,id: comment.id), remote:true, method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>