<% users.each do |user| %>
  <tr>
    <td>
      <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", class: "profile_image_sm" %>
    </td>
    <td>
      <p><%= user.name%></p>
      <p><%= user.profile %></p>
    </td>
  </tr>
<% end %>