<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <%= render "users/index", users: @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>