<div class="container">
  <div class="header">
    <h1>A-Create</h1>
    <nav>
      <ol>
        <li>
          <%= link_to 'SIGN UP', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'SIGN IN', new_user_session_path %>
        </li>
      </ol>
    </nav>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <% @fava_top_images.each do |fave|%>
        <div class="swiper-slide">
          <%= attachment_image_tag fave, :image, fallback: "no-image.jpg" %>
        </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
