<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 20rem;">
        <%= attachment_image_tag @post, :image, fallback: "no-image.jpg", class: "card-img-top" %>
        <div class="card-body">
          <p class="card-text">
            <%= @post.body %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>